{% extends "layout.html" %}
{% block content %}
<h1>Headache diary summary</h1>
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <p>Total headache days:</p>
                <p>Monthly headache days:<p>
                <p>Total migraine days:<p>
                <p>Monthly migraine days:<p>
                <p>If >=4 migraine days/month, offer preventative</p>
                <p>Month-by-month trend in headache and migraine days</p>
            </div>
            <div class="article-metadata">
                <p></p>
                <h5>Summary of analgesic use</h5>
                <p></p>
                <p>Simple analgesia:</p>
                <p>Triptan:</p>
                <p></p>
                <p>Month-by-month trend of acute treatment usage</p>
                <h6>Overall risk of MOH</p>
            </div>
            </div>
            </div>
        </div>
    </article>
{% endblock content %}
