{% extends "layout.html" %}
{% block content %}
<h1>Headache event</h1>
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                {% if event.startDate == event.endDate %}
                    <h5 class="article-title">{{ event.startDate.strftime('%d/%m/%Y') }}</h5>
                {% else %}
                    <h5 class="article-title"> {{ event.startDate.strftime('%d/%m/%Y') }} - {{ event.endDate.strftime('%d/%m/%Y') }}</h5>
                {% endif %}
        </div>
            <div class="article-metadata">
            <p class="article-content"> Pain: {{ event.pain }}</p>
            <p class="article-content"> Nausea/vomiting: {{ event.nv }}</p>
            <p class="article-content"> Aversion to light/sound: {{ event.phonophoto }}</p>
            <p class="article-content"> Ability to continue regular activities: {{ event.adls }}</p>
            <p class="article-content"> Relation to menstrual cycle: {{ event.period }}</p>
            <p class="article-content"> Treatment(s) taken:{% if event.acutetx1 == 'None' and event.acutetx2 == 'None' and event.acutetx3 == 'None' %} None {% endif %}{% if event.acutetx1 != 'None' %} {{ event.acutetx1 }} {% endif %}{% if event.acutetx2 != 'None' %} {{ event.acutetx2 }} {% endif %}{% if event.acutetx3 != 'None' %} {{ event.acutetx3 }} {% endif %}</p>
            <p class="article-content"> Did treatment help? {{ event.acutetxSuccess }}</p>
            <p class="article-content"> Preventative medication: {{ event.prophylactic }} {{ event.prophylacticDose }}</p>
            <p class="article-content"> Potential triggers: {{ event.triggers }}</p>
            <p class="article-content"> Notes: {{ event.notes }}</p>
            </div>
            <div>
                 <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('events.update_event', event_id=event.id) }}">
                     Update
                 </a>
                  <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">
                      Delete
                  </button>
            </div>
        </div>
    </article>
<!-- Modal -->
     <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
       <div class="modal-dialog" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
             </button>
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             <form action="{{ url_for('events.delete_event', event_id=event.id) }}" method="POST">
               <input class="btn btn-danger" type="submit" value="Delete">
             </form>
           </div>
         </div>
       </div>
     </div>
{% endblock content %}
